@model MyRuns.Web.Models.HomeViewModel

@functions{
    string RenderPosition(int i)
    {
        if (i > 2)
        {
            return string.Empty;
        }
        else if (i == 0)
        {
            return "🥇 ";
        }
        else if (i == 1)
        {
            return "🥈 ";
        }
        else if (i == 2)
        {
            return "🥉 ";
        }
        return string.Empty;
    }
}
  
<div class="col-12">
    
    @{
        int i = 0;
        foreach (var activity in Model.Activities)
        {

            <!-- Card -->
            <div class="card" style="margin-bottom:15px">

                <!-- Card content -->
                <div class="card-body">
                    @if (activity.Treadmill)
                    {
                        <button class="btn btn-default btn-deep-orange float-right btn-sm btn-tread">Treadmill <i class="fas fa-dumbbell"></i></button>
                    }

                    <!-- Title -->
                    <h3 class="card-title">@RenderPosition(i)@activity.Time </h3>
                    <!-- Text -->
                    <p class="card-text">
                        <h4><strong>@activity.Name</strong></h4>
                        <h5>@activity.Distance</h5>
                        <h5><i class="far fa-calendar-alt pink-text"></i>  @activity.Start</h5>

                    </p>

                </div>

            </div>
            <!-- Card -->


            i++;
        }

    }
</div>